.ca{
  text-align: center;
  padding: 20% 20%;
}
#title{
  background-color: #ff4c68;
  color: #fff;
}

#Meet{
  font-family: 'Montserrat-Black', sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
}
.container-fluid{
  padding: 3% 15%;
}

body{
  font-family: Montserrat;
}
/* navbar-brand */
.navbar{
  padding:0 0 4.5rem;
}
.navbar-brand{
  font-family: "Ubuntu";
  font-size: 2rem;
  font-weight: bold;
}

.nav-link{
  font-family: "Montserrat-light";
  font-size:1.5rem;
}
.nav-item{
  padding: 0 18px;
}
/* Download Buttons */
.download-button{
  margin: 5% 3% 5% 0;
}

/* Title Image */
.title-image{
  width: 60%;
  transform: rotate(25deg);
}
 /* Features */

#features{
  padding: 7% 15%;
  font-weight: bold;

}
.feature-box{
  text-align: center;
  padding: 5%;
}
h3{
  font-style: "Montserrat-bold";
  font-size: 1.5rem;
  font-weight: bold;
	color:#E238EC;
}
h2{
  font-family: "Montserrat-bold";
  font-weight: bold;
  font-size: 3rem;
  line-height: 3.5rem;

}
p{
  color: #8f8f8f;
}
.icon{
  color: #ef8172;
  margin-bottom: 1rem;
}
.icon:hover{
  color: #ff4c68;
}
#testimonials{
  padding: 7% 15%;
  text-align: center;
  background-color:#ef8172;
  color: #fff;
}
.testimonial-image{
  width: 10%;
  margin: 2%;
  border-radius: 100%;
}
.woofh2{
  width: 85%;
}
#press{
    background-color:#ef8172;
    padding: 2%;
    text-align: center;
}
.press-logo{
  width: 15%;
  padding: 20px 20px 50px;
}
/* part A starts from here */


.SKILLLL{
  text-align: center;
}
 h1{
   color: #66BFBF;
   font-weight: bold;
   padding-bottom: 10px;
 }
 h3{
   color: #66BFBF;
   text-align: center;
   text-decoration:underline;
 }
h2{
  color:#66BFBF;
  font-weight: bolder;
  text-align: center;
}

p{
  line-height: 2;


}
.skilltable{
  margin: auto;
}
.skillsagain{
  text-align: center;
}
.schoolpic{
  width: 40%;
  height: 40%;
  float: left;
 margin-left: 12%;
}
.schooldiv{
  position:absolute;
  margin-left: 9%;
  margin-top: -1.16%;

}
.computerdiv{
  position:absolute;
  margin-right: 9%;
  margin-top: 3.1%;

}

.computer{
  width: 37.5%;
  height: 32%;
  float: right;
 margin-right:-110%;

}
.skilldiv{
  float: left;
  margin-left: 25%;
}
.schooling{
  margin:auto;
}
.inaddition{
  text-align: center;
  line-height: 1.75;
}
.skillsTWO{
  margin: auto;
  text-align: center;
}
a{
  text-align: center;
  font-family:'Montserrat', sans-serif;

  text-decoration: none;
  margin: 10px 20px;
}
.footer-link:hover{
   color:white;
}
.port:hover{
  color:red;
}


.hello{
  text-align: center;
}
.footer-link{
  color:#3B3E40;
  font-weight: lighter;

}

.portfolio{
  color: #6960EC;
}
.copyright{
  color:#EAF6F6;
  padding:20px 0;
  font-size: 0.80rem;

}
hr{
  border: dotted #EAF6F6 4px;
  border-bottom: none;
  margin: 85px auto;
  width: 5%;
}
.myButton {
	box-shadow:inset 0px 0px 0px 2px #9fb4f2;
	background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
	background-color:#7892c2;
	border-radius:38px;
	border:4px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:'Montserrat', sans-serif;
	font-size:13px;
	font-weight:bold;

	padding:5px 8px;
  margin-left: 47%;
	text-decoration:none;
	text-shadow:-1px 2px 0px #283966;


}
.myButton:hover {
	background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
	background-color:#476e9e;
}
.myButton:active {
	position:relative;
	top:1px;
}
.top-cloud{
  height: 8%;
  width: 16%;
  margin-left: 71%;
  margin-top: 3.5%;


}
.bottom-cloud{
  height: 9%;
  width: 14%;
  margin-left: 8%;
  position: absolute;
}
.mountain{
  height: 70%;
  width: 61%;

  margin-left: 23%;
  position:relative;
  bottom:27px;

}
.divmountain{
  padding-top: 0;
  border-top: 0;
}

.contacthere{
  margin-right: 88%;
}
.top-container{
  background-color: #EAF6F6;
  border-top: 0;

}
.feedback{
  margin-right: 88%;
}
.mj1{
  font-family: 'DotGothic16', sans-serif;
  text-align: center;
  font-weight: bolder;
  font-size: 4em;
  color: #66BFBF;


}
.a-programmer{
  font-family: 'Herr+Von+Muellerhoff', sans-serif;
  text-align: center;
  font-weight: bolder;
  font-size: 1.75rem;
  color: #66BFBF;
  padding-bottom: 0;
  margin-bottom: 0;

}
.pro{
  text-decoration: underline;
}
.DP{

  position: relative;


height: 12%;
width: 12%;
margin-left: 44.2%;
padding-top:  4.5%;
}
.portfolioLine{
  text-align: center;
}
.convertingLine{
  text-align: center;
  width: 30%;
  margin: auto;
}
.name{
  padding-top: 0;
  margin-top: 0;
}
.contactintro
{
 text-decoration:none;
 width: 110%;
}
.contactdesc{
  width:40%;
  margin: 40px auto 60px;
  text-align: center;
}
.contact-me{
  position:relative;
  margin-left: -10.2%;
  margin-top: 29.1%;

}
.bottom-container{
  background-color: #91C9F2;
  text-align: center;
  padding:25px 0px 25px;
}
.skills{
  padding-top:10%;
}
.h3a{
  font-weight: bolder;
  text-decoration: overline;
  color: #fff;
}
